<?xml version="1.0" encoding="utf-8"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        bootstrap="bootstrap.php"
        verbose="true"
        colors="true"
        timeoutForSmallTests="900"
        timeoutForMediumTests="900"
        timeoutForLargeTests="900"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.6/phpunit.xsd"
>
    <!--
    SPDX-FileCopyrightText: Mikhailo Matiyenko-Kupriyanov <kupriyanov+nextcloud@strato.de>
    SPDX-License-Identifier: AGPL-3.0-or-later
    -->
    <testsuites>
        <testsuite name="unit">
            <directory suffix="Test.php">./Unit</directory>
        </testsuite>
    </testsuites>
    <coverage>
        <include>
            <directory suffix=".php">../lib</directory>
            <directory suffix=".php">../appinfo</directory>
        </include>
        <report>
            <clover outputFile="clover.xml"/>
            <html outputDirectory="coverage"/>
        </report>
    </coverage>
</phpunit>
