<phpunit bootstrap="bootstrap.php" colors="true">
    <!--
    SPDX-FileCopyrightText: Mikhailo Matiyenko-Kupriyanov <kupriyanov+nextcloud@strato.de>
    SPDX-License-Identifier: AGPL-3.0-or-later
    -->
    <testsuites>
        <testsuite name="unit">
            <directory>./Unit</directory>
        </testsuite>
    </testsuites>
</phpunit>
